.private-desktop {
  font-family: 'Rubik', sans-serif;
  $red: rgb(239, 83, 80);
  .page {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 5px;
    width: 100%;
  }
  .desktop-main-content-wrapper{
    padding: 2rem 2rem;
  }
  @media (max-width: 640px) {
    .desktop-main-content-wrapper{
      padding: 1rem;
    }
  }
}
