* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {
  --body-font: 'Rubik', sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #fff;
  --button-bg: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.1);
  --video-bg: #252936;
  --delay: 0s;
}

.anim {
  animation: bottom 0.8s var(--delay) both;
}
.ta-right{
  text-align: right;
}
   
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(21 20 26 / 63%);
  border-radius: 10px;
}