.reactoso.input {
    height: 34px;
    display: flex;
    width: 100%;
    max-width: 100%;
    input {
     width: 100%;
     background-color: var(--button-bg);
     height: 100%;
     border: none;
     border-radius: 8px;
     font-family: var(--body-font);
     font-size: 14px;
     font-weight: 500;
     padding: 0 16px 0 16px;
     box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
     color: var(--body-color);
    }
   }