.games-page-container {
  .banners-top{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .banners-middle{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .banners-bottom{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .banners-top,
  .banners-middle,
  .banners-bottom{
    a{
      text-decoration: none;
    }
  }
  @media screen and (max-width: 840px) {
    .banners-top,
    .banners-middle,
    .banners-bottom{
      grid-template-columns: 1fr;
      a{
        text-decoration: none;
      }
    }
  }
}
